.product-page {
  margin: 1rem 5rem;
}

.product-page button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.products{
  display: flex;
  justify-content: flex-start;
}

.products img {
  height: 250px;
  width: 200px;
}