
.dropdown {
    height: 500px;
    width: 500px;
    border: 1px solid green;
    overflow-y: auto;
}

.dropdown-window  p {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid grey;
}

.navbar {
    padding: 1.5rem;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.navbar a {
    color: white !important;
    padding:  0 1rem !important;
}